*{
	padding: 0;
	margin: 0;
}
.portfolio-sections{
	height: 660px;
	width: 100%;
	border: 3px solid black;
	text-align: center;
	background-color: white;
}
.navigation-bar{
	position: fixed;
	width: 100%;
	background-color: transparent;
	backdrop-filter: blur(6px);
	z-index: 1;
	border-bottom:3px dotted black ;
}
.portfolio-sections h1{
	margin-top: 100px;
}
html{
	scroll-behavior: smooth;
}
.main-container{
	position: relative;
	top: 75px;
}
.brand{
	font-size: 30px;
	font-family: Arial Black;
	font-variant: small-caps;
	color: orangered;
}
.navmenu{
	color: black;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bolder;
	padding-left: 15px;
}
.navmenu:hover{
	text-decoration: underline 2px solid black;
	text-underline-offset: 6px;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
#home{
	height: 370;
	background-image: url(https://thetechnocraft.com/images/software.gif);
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: 90% 60%;
	border: none;
}
#info{
	font-weight: bolder;
	color: lightslategray;
}
#home-info{
	position: absolute;
	top: 40px;
	width: 500px;
	height: 350px;
	font-size: 40px;
	margin-top: 75px;
	margin-left: 75px;
	font-weight: bolder;
	color: gray;

}

.designation{
	font-weight: bold;
	color: black;
}
.btn{
	border: none;
}
.rsmbtn{
	padding: 10px 20px;
	border: none;
	margin-top: 30px;
	border-radius: 10px;
	font-weight: bolder;
	font-size: 20px;
	background-color: royalblue;
	color: white;
	transition-duration: 1s;
}

.rsmbtn:hover{
	background-color: white;
	color: royalblue;
	border: 3px solid royalblue;
	transform-style: 2;
}
.about-section{
	height: 650px;
	width: 100%;
	border: solid black;
	background-color: whitesmoke;
}
.aboutmain{
	height: 500px;
	width: 100%;

	font-size: 25px;
	font-family: sans-serif;
	font-weight: bolder;
	display:flex;
}
.aboutmain div{
	height: 300px;
	width: 50%;

}
.itsme{
	height: 600px;
	width: 500px;
	margin-top: 150px;
	margin-left:-30px ;
	animation-duration: 4s;
	animation-name: zoom;
	animation-iteration-count:1 ;


}
.heading{
	font-family: Arial Black;
	text-align: center;
	margin: 20px 0px;
	font-size: 40px;
	color: orange;
	margin-top: 75px !important;
}
.carrerobj{
	padding:5px ;
}
.carrerinfo{
	text-align: justify;
	line-height: 40px;
	text-indent: 100px;
	word-spacing: 3px;
	letter-spacing: 1px;
	margin-right: 25px;

}
#skills{
	background-color: floralwhite;
	border-bottom: gray;
	border: 2px solid black;

}
.tbl{
	margin-left: 5%;

}
.tbl tr td {
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px lightblue;
	transition-duration: 1.5s;
	background-color:lightskyblue;
	border-spacing: 25px;
}
.skills-subheading{
	text-align: center;
	font-size: 25px;
	font-family: Times of Roman ;
	font-weight: bolder;
	color: greenyellow;
	font-variant: small-caps;
}
.detailedSkills{
	font-size: 23px;
	font-weight: bolder;
	color: rgb(109, 101, 101, 1.0);
	line-height: 40px;
	word-spacing: 3px;
	margin-top: 20px;
}
.carousel-inner{
	height: 500px;
	width: 65%;
}
.carousel-item active{
	height: 300px;
	image-orientation: revert;
}
.contact-section{
	padding-top: 10px;
	height: 600px;
	width: 100%;
}
#contact h1 {
	margin-bottom: 40px; 
	text-align: left;
	margin-left: 180px; 
}
#contact ul li .text {
	font-weight: bolder; 
	font-size: 20px;
}
#contact ul {
	padding-left: 0;
	padding-left: 50px;
}
#contact ul li {
	list-style: none;
	margin-bottom: 20px; /* Adjust as needed */
	display: flex;
	align-items: center;
}
#contact ul li .icon {
	width: 100px; /* Width of icon container */
}
#contact ul li .text {
	margin-left: 30px; /* Adjust spacing between icon and text */
	font-weight: bolder;
}
#contact ul li .icon i {
font-size: 50px; /* Adjust icon size */
}
.fa-envelope{
	color: transparent;
	background: linear-gradient(45deg, red, blue);
	-webkit-background-clip: text;
	}
.fa-phone-square{
	color: green;
}
.fa-linkedin-square{
	color: #0077b5;
}
.fa-map-marker{
	color: red;
}